* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
}

.header {
    background: #383535;
    height: 100px;
    text-align: center;
}

.header>h1 {
    padding-top: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.itens {
    background: #bcb8b886;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

.itens > h2 {
    letter-spacing: 1.1px;
    color: #000000b5;
}

.itens  p,label{
    color: #000000;
    font-size: 17px;
}


.itens input {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1.8px solid #1385ffd1;
}

.button {
    margin: 10px 0px;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 15px;
    background: #1385ffd1;
    color: #ffffff;
    border: 1.5px solid;
}

.button:hover {
    background: #ffff;
    color: #1385FF;
}

footer {
    background-color: #0a61bed1;
    padding: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
footer a{
    text-decoration: underline;
    color: #ffffff;
}

/*Media queries*/

@media screen and (min-width: 1000px) {
    .conteiner {
        width: 75%;
        margin: auto;
    }

    .header {
        height: 120px;
    }

    .header>h1 {
        padding-top: 30px;
    }

    .itens {
        padding: 20px;
    }
}